{
  "action" : "actions",
  "list" : [
    {
      "action" : "particle",
      "specification" : "doomplasmaimpact1"
    },
    {
      "action" : "particle",
      "specification" : "doomplasmaimpact1"
    },
    {
      "action" : "particle",
      "specification" : "doomplasmaimpact1"
    },
    {
      "action" : "particle",
      "specification" : "doomplasmaimpact2"
    },
    {
      "action" : "particle",
      "specification" : "doomplasmaimpact2"
    },
    {
      "action" : "particle",
      "specification" : "doomplasmaimpact2"
    },
    {
      "action" : "particle",
      "specification" : "doomplasmaimpact3"
    },
    {
      "action" : "sound",
      "options" : [ "/fx/doomplasmaimpact/doomplasmaimpact.ogg" ]
    }
  ]
}
