{
    "gui" : {
      "background" : {
        "zlevel" : 0,
        "type" : "background",
        "fileHeader" : "/doombound/ui/settings/header.png"
      },
  
      "close" : {
        "type" : "button",
        "base" : "/interface/x.png",
        "hover" : "/interface/xhover.png",
        "pressed" : "/interface/xpress.png",
        "pressedOffset" : [0, 0],
        "position" : [205, 95]
      }
    },
  
    "scriptWidgetCallbacks" : [
      "call"
    ],
    
    "scripts" : ["/doombound/ui/settings/ui.lua"],
    "scriptDelta" : 1
}
  