{
  "action" : "actions",
  "list" : [
    {
      "action" : "particle",
      "specification" : "doombulletimpact1"
    },
    {
      "action" : "particle",
      "specification" : "doombulletimpact1"
    },
    {
      "action" : "particle",
      "specification" : "doombulletimpact1"
    },
    {
      "action" : "particle",
      "specification" : "doombulletimpact2"
    },
    {
      "action" : "particle",
      "specification" : "doombulletimpact2"
    },
    {
      "action" : "particle",
      "specification" : "doombulletimpact2"
    },
    {
      "action" : "particle",
      "specification" : "doombulletimpact3"
    },
    {
      "action" : "sound",
      "options" : [ "/sfx/riochets/bulletConcrete-1.ogg",
        "/sfx/riochets/bulletConcrete-2.ogg",
        "/sfx/riochets/bulletConcrete-3.ogg",
        "/sfx/riochets/bulletConcrete-4.ogg",
        "/sfx/riochets/bulletConcrete-5.ogg",
        "/sfx/riochets/bulletConcrete-6.ogg" ]
    }
  ]
}
