{
    "gui" : {
      "background" : {
        "zlevel" : 0,
        "type" : "background",
        "fileHeader" : "/guncrafters/standard/header.png"
      },
  
      "close" : {
        "type" : "button",
        "base" : "/interface/x.png",
        "hover" : "/interface/xhover.png",
        "pressed" : "/interface/xpress.png",
        "pressedOffset" : [0, 0],
        "position" : [205, 95]
      },
  
      "btnCraft" : {
        "type" : "button",
        "position" : [81, 28],
        "base" : "/interface/button.png",
        "hover" : "/interface/buttonhover.png",
        "caption" : "Craft",
        "callback" : "widget_btnCraft"
      },

      "canvas" : {
        "zlevel" : 4,
        "type" : "canvas",
        "rect" : [0, 0, 226, 112],
        "captureMouseEvents" : false,
        "captureKeyboardEvents" : false
      }
    },

    "craftPools" : {
      "common" : [
        "gbak47",
        "gbfamasf1",
        "gbstg44",

        "gbbarm1918",
        "gbbrenmk2",
        "gbchauchatcsrg1915",
        "gbdp27",
        "gblewis",
        "gbmg15rheinmetall",
        "gbmg34",
        "gbmg42",

        "44magnum",
        "gbberetta92",
        "gbberettam93r",
        "gbcoltm1911",
        "gblugerp08",
        "gbnanbutype14",
        "gbtokarevtt33",
        "gbwaltherp38",
        "gbwaltherpp",

        "gbm1garand",
        "gbsvt40",

        "gbbrowningauto5",
        "gbbrowningauto5police",
        "gbithacam37",
        "gbm2",
        "gbwinchesterm1897",

        "gbagram2000",
        "gbarmaguerraog44",
        "gbblyskawica",
        "gbcalicom950",
        "gbhkmp7a1",
        "gbhkump40",
        "gbm3",
        "gbmas38",
        "gbmp18",
        "gbmp38",
        "gbnanbutype1",
        "gbpps43",
        "gbppsh41",
        "gbstenmk1",
        "gbstenmk2",
        "gbstenmk3",
        "gbthompsonm1a1",
        "gbthompsonm1921",
        "gbuzimicro"
      ],
      "uncommon" : [
      ],
      "rare" : [
      ],
      "legendary" : [
      ]
    },
  
    "scriptWidgetCallbacks" : [
      "widget_btnCraft"
    ],
  
    "scripts" : ["/guncrafters/standard/ui.lua"],
    "scriptDelta" : 1
}
  